body {
	background-color: #02E498;
	font-family: avenir;
	color: white;
}

.form-container {
	position: relative;
	width: 90%;
	max-width: 30em;
	margin: 5em 10%;

	label {
		display: block;
		font-size: .75em;
		color: rgba(255,255,255,.66)
	}

	span {
		display: block;
	}

	input {
		display: block;
		width: 100%;
		margin: .25em auto 1em;
		padding: 0.5em;
		border: none;
		border-bottom: solid rgba(255,255,255,.5) 1px;
		background-color: rgba(0,0,0,0);
		font-size: 1em;
	}

	*::-webkit-input-placeholder {
	    color: white;
	    font-size: 1.25em;
	}


	.optional-fields {
		display: none;
	}

	#submit {
		border-bottom: none;
		// color: red;
	}
}

@media (min-width: 768px) {
	.form-container {
		position: relative;
		max-width: 40em;
		text-align: right;
		margin: 5em auto;

		input {
			display: inline-block;
			width: calc(75% - 2em);
			margin: 1em;
		}
	}
}