.form-container {
	position: relative;
	width: 90%
	max-width: 30em;
	margin: 5em 10%;
}

label {
	display: block
}

input {
	display: block;
	width: 100%;
	margin: .25em auto 1em;
	padding: 0.5em;
	border: none;
	background-color: rgba(0,0,0,.1);
}

.optional-fields {
	display: none;
}

@media (min-width: 768px) {
	.form-container {
		position: relative;
		max-width: 40em;
		text-align: right;
		margin: 5em auto;
	}
	input {
		display: inline-block;
		width: calc(75% - 2em);
		margin: 1em;
	}
}